@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-sans: "Satoshi";
  --font-mono: "JetBrains Mono";
  /* Your preferred accent color. Indigo is closest to Starlight’s defaults. */
  --color-accent-50: #fff1f3;
  --color-accent-100: #ffdfe4;
  --color-accent-200: #ffc4ce;
  --color-accent-300: #ff9bab;
  --color-accent-400: #ff627c;
  --color-accent-500: #ff3153;
  --color-accent-600: #f01438;
  --color-accent-700: #ca0b2a;
  --color-accent-800: #a70d26;
  --color-accent-900: #8a1226;
  --color-accent-950: #4b0410;
  /* Your preferred gray scale. Zinc is closest to Starlight’s defaults. */
  --color-gray-50: #f8fafc;
  --color-gray-100: #f3f5f7;
  --color-gray-200: #edf0f3;
  --color-gray-300: #e1e5e9;
  --color-gray-400: #9ba2ab;
  --color-gray-500: #6b737b;
  --color-gray-600: #4b5158;
  --color-gray-700: #21262b;
  --color-gray-800: #181c20;
  --color-gray-900: #131416;
  --color-gray-950: #111417;
}
