@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-sans: "Satoshi";
  --font-mono: "JetBrains Mono";
  /* Your preferred accent color. Indigo is closest to Starlight’s defaults. */
  --color-accent-50: oklch(97.9% 0.021 166.113);
  --color-accent-100: oklch(95% 0.052 163.051);
  --color-accent-200: oklch(90.5% 0.093 164.15);
  --color-accent-300: oklch(84.5% 0.143 164.978);
  --color-accent-400: oklch(76.5% 0.177 163.223);
  --color-accent-500: oklch(69.6% 0.17 162.48);
  --color-accent-600: oklch(59.6% 0.145 163.225);
  --color-accent-700: oklch(50.8% 0.118 165.612);
  --color-accent-800: oklch(43.2% 0.095 166.913);
  --color-accent-900: oklch(37.8% 0.077 168.94);
  --color-accent-950: oklch(26.2% 0.051 172.552);
  /* Your preferred gray scale. Zinc is closest to Starlight’s defaults. */
  --color-gray-50: #f8fafc;
  --color-gray-100: #f3f5f7;
  --color-gray-200: #edf0f3;
  --color-gray-300: #e1e5e9;
  --color-gray-400: #9ba2ab;
  --color-gray-500: #6b737b;
  --color-gray-600: #4b5158;
  --color-gray-700: #21262b;
  --color-gray-800: #181c20;
  --color-gray-900: #131416;
  --color-gray-950: #111417;
}

.site-title {
  color: #00cc66;
}
